// color 
$red: #df0708;
$dark: #171717;

// fonts 
$font: 'Roboto', sans-serif;


// width & height

$width-sm: 576px;
$iphone6-landscape: 667px;
$plus6-landscape: 756px;
$width-md: 768px;
$iphonex-landscape: 812px;
$width-lg: 992px;
$ipad-height: 1024px;
$pc-width: 1224px;
$pro-height: 1366px;